@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ikpsu0');
  src:  url('../fonts/icomoon.eot?ikpsu0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ikpsu0') format('truetype'),
    url('../fonts/icomoon.woff?ikpsu0') format('woff'),
    url('../fonts/icomoon.svg?ikpsu0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-up:before {
  content: "\e906";
}
.icon-grid:before {
  content: "\e900";
}
.icon-list:before {
  content: "\e902";
}
.icon-more-vertical:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-google:before {
  content: "\ea88";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-linkedin2:before {
  content: "\eaca";
}
