html {
    box-sizing: border-box;
}

*,
*::after,
*::after {
    box-sizing: inherit;
}

html, body{
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0  auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
}

.container {
    max-width: 1175px;
    margin: 0 auto;
    padding: 0 15px;
}
.page-content{
    background-color: #eff1f5;
}

.slider__box {
    width: 100%;
    background-color: #fff;
    height: 110px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 50px;
    padding: 0 10px;

    &-title {
        padding: 0 16px;
        font-size: 30px;
        font-weight: 500;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}
.title{
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;

    span {
        color: $blue;
    }
}
.text{
    max-width: 675px;
    @include greyText;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 45px;
    line-height: 30px;
}
.link{
    width: 190px;
    text-align: center;
    display: block;
    background-color: #fff;
    padding: 20px 25px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 16px;
}

.breadcrumbs{
    &__inner{
        padding-top: 30px;
    }
    &__list{
        li{
            display: inline-block;
            position: relative;
            & + li{
                padding-left: 15px;
                &::before{
                    content: '/';
                    position: absolute;
                    left: 5px;
                }
            }
            a{
                color: #fff;
            }
            &:last-child{
                a,
                span{
                    color: #bfcad7;
                }
            }
        }
    }
}
//заанимировать всплывающий список filter__title-list