@media(max-width: 1200px) {
    .dropdown-btn {
        &:hover {
            .dropdown-btn__menu-content {
                padding: 0;
            }
        }

        .dropdown__item-title {
            margin-bottom: 0;
            padding-top: 20px;
        }
    }

    .dropdown-btn__menu-content {
        padding: 0;
    }

    .dropdown-btn__menu {
        display: block;
        width: 100%;

        &-content {
            flex-wrap: wrap;
        }

        .dropdown__item {
            max-width: none;
            width: 100%;

            &-title {
                text-align: center;
                position: relative;
                font-family: 'Quicksand', sans-serif !important;

                &::before {
                    content: '\e903';
                    position: absolute;
                    font-family: 'icomoon';
                    right: 30px;
                }
            }

            &-box {
                display: block;
                text-align: center;

                &_pages {
                    display: none
                }

                &_others {
                    display: none;
                }

                &_dashboard {
                    display: none;
                }
            }

            &-list {
                &+li {
                    margin-top: 0;
                }

                li {
                    margin-bottom: 15px;
                }
            }
        }

        .dropdown__item-list {
            text-align: center;

            li {
                display: block;

                &+li {
                    margin-top: 15px;
                }
            }
        }
    }

    .header__menu-inner {
        display: block;

        .header__search {
            form {
                width: 100%;
            }
        }

        .menu__list {
            display: flex;
            justify-content: center;
        }

        .slick-dots {
            position: absolute;
            bottom: 0;
            right: 30px;
        }
    }
}


@media (max-width: 1100px) {
    .footer__top-content {
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_info {
        min-width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 920px) {}

@media(max-width: 860px) {
    .footer_search {
        min-width: 100%;
        margin-top: 30px;
    }

    .footer_form {
        max-width: 100%;
    }

    .footer__item-social {
        align-items: center;
        justify-content: center;
    }

    .footer_list {
        margin-right: 30px;
    }

    .footer__top-content {
        justify-content: end;
    }

    .header__top-inner {
        display: block;
        height: 100%;
        padding: 15px;
    }

    .header__box {
        justify-content: flex-end;
    }
}

@media(max-width: 750px) {
    .header__box {
        display: flex;
        flex-wrap: wrap;
    }

    .header__box {
        &-link {
            order: 4;
            width: 100%;
        }

        .header__btn {
            width: 100%;
            margin-right: 0;
        }
    }

    .basket__menu-content,
    .message__menu-content,
    .notification__menu-content {
        right: 0;
        left: 0;
        transform: translateX(-50%);
    }
}

@media(max-width: 640px) {
    .menu {
        .menu__btn {
            display: block;
            top: 75px;
        }

        .menu__list {
            display: none;
            position: absolute;
            padding: 30px 0;
            width: 100%;
            z-index: 96;
            top: 70px;
            flex-direction: column;
            text-align: center;
            box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            .dropdown__menu {
                padding: 30px;
            }

            li {
                margin-top: 0px;
                height: 0;
                padding: 10px 0;
                z-index: auto;
                display: block;

                &+li {
                    margin-top: 20px;
                    margin-left: 0;
                }
            }

            .dropdown__menu {
                z-index: 99;
                top: 40px;
                width: 100%;

                li {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .header__menu-inner {
        .header__search form {
            margin-top: 30px;
        }
    }
}

@media(max-width: 580px) {
    .user__box {
        order: -1;
        width: 100%;
        margin-left: 0;
        height: auto;

        .user__menu {
            width: 100%;
        }

        &:hover {
            .user__menu {
                &::before {
                    display: none;
                }
            }
        }
    }

    .notification__box,
    .basket__box,
    .message__box {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        border: 1px solid $text;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        cursor: pointer;
        outline: none;

        &:hover {

            .basket__menu::before,
            .message__menu::before,
            .notification__menu::before {
                display: none;
            }

            .message__menu,
            .message__item-content {
                justify-content: space-around;
            }

            .basket__item {
                padding: 30px;
            }
        }
    }

    .user__menu {
        top: 65px;
    }

    .basket__box {
        margin-bottom: 20px;
    }

    .message__menu-info {
        position: relative;
    }

    .message__menu-link {
        margin-right: 25px;
    }

    .icon-remove {
        &::before {
            display: block;
            position: absolute;
            color: $text;
            font-family: 'icomoon';
            right: 20px;
            top: 10px;
            font-size: 20px;
        }
    }

    .header__box {
        flex-direction: column;
    }

    .notification__menu-content,
    .basket__menu-content,
    .message__menu-content {
        // top: -1px;
        width: 100%;
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        -o-transform: translateX(-110%);
    }

    .active-menu {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
}

@media(max-width: 530px) {
    .footer_list {
        min-width: 100%;

        &+& {
            margin-top: 30px;
        }
    }
}

@media(max-width: 490px) {
    .footer__top-content {
        padding: 100px 0 80px;
    }

    .footer__bottom-title {
        line-height: 24px;
    }
}

@media(max-width: 430px) {
    .notification__box {
        height: 50px;

        &:hover {
            .notification__item {
                padding: 15px;
                display: block;
            }

            .notification__item-icon {
                display: none;
            }

            .notification__menu-info {
                display: block;
            }

            .message__menu-link {
                margin-right: 0;
                margin-top: 10px;
            }

            .notification__item-name {
                max-width: none;
            }

            .message__item-avatar {
                margin-bottom: 15px;
            }
        }
    }

    .basket__box,
    .message__box {
        height: 50px;
    }

    .message__menu-box {
        .message__item {
            display: block;

            &-avatar {
                margin-bottom: 20px;
            }

            &-name {
                .name {
                    margin-bottom: 10px;
                }

                .date {
                    font-size: 12px;
                }
            }
        }
    }

    .message__menu-content {
        .message__menu-info {
            display: block;
        }

        .message__menu-link {
            margin-top: 10px;
            font-size: 12px;
        }
    }

    .basket__menu-content {
        .basket__item {
            display: block;

            &-info {
                margin: 15px 0;
                max-width: none;
            }

            &-delete {
                width: 100%;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                height: 40px;
            }

            &-icon {
                max-width: none;
            }

            &-price {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .basket__btns {
            flex-wrap: wrap;

            .cart,
            .checkout {
                width: 100%;
                padding: 20px 10px;
            }
        }
    }
}

@media(max-width: 390px) {
    .footer_form {
        button {
            width: 90px;
        }
    }

    .footer__top-content {
        padding: 50px 0 80px;
    }

    .footer__item-icon {
        width: 35px;
        height: 35px;

        &+.footer__item-icon {
            margin-left: 10px;
        }
    }
}