@media(max-width: 1200px) {
    .dropdown-btn {
        &:hover {
            .dropdown-btn__menu-content {
                padding: 0;
            }
        }

        .dropdown__item-title {
            margin-bottom: 0;
            padding-top: 20px;
            font-weight: 500;
        }
    }

    .dropdown-btn__menu-content {
        padding: 0;
    }

    .dropdown-btn__menu {
        display: block;
        width: 100%;

        &-content {
            flex-wrap: wrap;
        }

        .dropdown__item {
            max-width: none;
            width: 100%;

            &-title {
                text-align: center;
                position: relative;
                font-family: 'Quicksand', sans-serif !important;

                &::before {
                    content: '\e903';
                    position: absolute;
                    font-family: 'icomoon';
                    right: 30px;
                }
            }

            &-box {
                display: block;
                text-align: center;

                &_pages {
                    display: none
                }

                &_others {
                    display: none;
                }

                &_dashboard {
                    display: none;
                }
            }

            &-list {
                &+li {
                    margin-top: 0;
                }

                li {
                    margin-bottom: 15px;
                }
            }
        }

        .dropdown__item-list {
            text-align: center;

            li {
                display: block;

                &+li {
                    margin-top: 15px;
                }
            }
        }
    }

    .header__menu-inner {
        display: block;
        height: auto;
        padding: 20px 0;

        .header__search {
            form {
                width: 100%;
            }
        }

        .menu__list {
            display: flex;
            justify-content: center;
        }

        .slick-dots {
            position: absolute;
            bottom: 0;
            right: 30px;
        }
    }

    .search {
        &__inner {
            &-form {
                width: 100%;
                height: auto;

                &::before {
                    display: none;
                }

                &::after {
                    display: none;
                }

                form {
                    display: block;

                    button {
                        margin-top: 30px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .search__inner-input {
        display: flex;
        flex-flow: column;

        input {
            width: 100%;
        }
    }

    .product__item {
        flex-basis: calc(50% - 30px);
    }

    .feedback {
        &__inner {
            &-info {
                display: block;
            }
        }

        &__item {
            max-width: 100%;

            &+.feedback__item {
                margin-top: 30px;
            }
        }
    }

    .product-page__inner {
        display: block;
    }

    .product-page__aside {
        width: 100%;
    }

    .aside__title {
        margin-bottom: 20px;
    }

    .category__list {
        li {
            padding: 10px 20px;

            &+li {
                border-top: 1px solid #e7ebee;
            }
        }
    }

    .pricing-range__btn {
        width: 100%;
    }
    .contacts__inner-box{
        display: block;
        .contacts__item{
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .contacts__form-box{
        padding: 0 15px;
        form{
            display: block;
            input{
                width: 100%;
            }
        }
    }
    .contacts__form-text{
        padding: 0 15px;
    }
}

@media(max-width: 1120px) {
    .products__info {
        &-btn {
            display: block;
            height: auto;
            padding: 15px;

            button {
                width: 100%;

                &+button {
                    margin-left: 0px;
                    margin-top: 15px;
                }
            }
        }
    }

}

@media (max-width: 1100px) {
    .footer__top-content {
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_info {
        min-width: 100%;
        margin-bottom: 30px;
    }

    .slider__item-content {
        display: block;
    }

    .slider__item-img {
        max-width: 100%;

        img {
            width: 100%;
        }
    }

    .slider__item-box {
        max-width: 100%;
    }

    .slider__item-img {
        height: 300px;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
    }

    .slider__info {
        .slick-dots {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            li {
                width: 10px;
                height: 10px;
                border: 2px solid $blue;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                button {
                    font-size: 0;
                }

                &+li {
                    margin-left: 10px;
                }
            }

            li.slick-active {
                background-color: $blue;
            }
        }
    }

    .features__item {
        flex-basis: calc(50% - 30px);
    }

    .get-box {
        padding: 90px 20px;
    }

    .news-product__item {
        margin-bottom: 30px;
        flex-basis: calc(100% - 0px);
    }

    .product__item-box {
        min-height: auto;
    }

    .news__item-icon {
        display: block;

        .news__item-block {
            width: 100%;
        }

        .news__item-loock {
            border-left: none;
            padding-left: 0px;
            margin-top: 20px;
        }
    }

    .product-page__items {
        .product__item {
            flex-basis: calc(50% - 30px);

            &.list {
                .product__items-info {
                    max-width: 300px;
                }
            }
        }
    }
    .pagination__list{
        position: inherit;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 1000px) {
    .get__inner {
        display: block;

        .get-box {
            width: 100%;
            padding: 60px 20px;
        }
    }

    .search {
        margin-bottom: 0px;
    }

    .filter__content {
        display: block;
        height: auto;
        padding: 20px 0;

        &-btns {
            margin-bottom: 30px;
        }

        &-box {
            display: block;
        }

        &-price,
        &-page {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .filter__content-swithes {
        display: none;
    }
}

@media(max-width: 920px) {
    .advantages {
        &__inner {
            display: block;
        }

        &__item {
            max-width: 100%;
        }
    }
}

@media(max-width: 860px) {
    .footer_search {
        min-width: 100%;
        margin-top: 30px;
    }

    .footer_form {
        max-width: 100%;
    }

    .footer__item-social {
        align-items: center;
        justify-content: center;
    }

    .footer_list {
        margin-right: 30px;
    }

    .footer__top-content {
        justify-content: end;
    }

    .header__top-inner {
        display: block;
        height: 100%;
        padding: 15px;
    }

    .header__box {
        justify-content: flex-end;
    }

    .search__inner-title {
        font-size: 40px;
        line-height: 50px;
    }

    .search__inner-text {
        margin-bottom: 40px;
    }

    .guarantee {
        &__inner {
            &-content {
                display: block;
            }
        }

        &__item {
            width: 100%;

            &-money {
                border-right: none;
                border-bottom: 1px solid #e8eaf3;
            }
        }
    }
}

@media(max-width: 750px) {
    .header__box {
        display: flex;
        flex-wrap: wrap;
    }

    .header__box {
        &-link {
            order: 4;
            width: 100%;
        }

        .header__btn {
            width: 100%;
            margin-right: 0;
        }
    }

    .basket__menu-content,
    .message__menu-content,
    .notification__menu-content {
        right: 0;
        left: 0;
        transform: translateX(-50%);
    }

    .product__item {
        flex-basis: calc(100% - 30px);
    }

    .product__item-btn {
        .btn {
            display: block;
            max-width: 100%;

            &+.btn {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    .products__bottom-btn {
        .products-btn {
            width: 100%;
        }
    }

    .features__item {
        flex-basis: calc(100% - 30px);
    }

    .product-page__items {
        .product__item {
            flex-basis: calc(100% - 30px);
        }

        .slider__item-program {
            display: none;
        }
    }
}

@media(max-width: 640px) {
    .menu {
        .menu__btn {
            display: block;
            top: 25px;
        }

        .menu__list {
            display: none;
            padding: 30px 0;
            width: 100%;
            z-index: 96;
            top: 0px;
            flex-direction: column;
            text-align: center;
            box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            .dropdown__menu {
                padding: 30px;
            }

            li {
                margin-top: 0px;
                height: 0;
                padding: 10px 0;
                z-index: auto;
                display: block;

                &+li {
                    margin-top: 20px;
                    margin-left: 0;
                }
            }

            .dropdown__menu {
                z-index: 99;
                top: 40px;
                width: 100%;

                li {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .header__menu-inner {
        .header__search form {
            margin-top: 70px;
        }
    }

    .header__menu {
        .container {
            padding: 0;
        }
    }

    .header__search {
        padding: 0 15px;
    }

    .slider__content {
        .slider__info {
            .slick-arrow {
                opacity: 0;
                width: 0;
                height: 0;
                display: none;

                span {
                    display: none;
                }
            }
        }
    }

    .products__inner-content {
        .slider__box {
            .filter__title {
                font-size: 0;
            }
        }
    }

    .slider__box-title {
        font-size: 20px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;

        li {
            width: 10px;
            height: 10px;
            border: 2px solid $blue;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            button {
                font-size: 0;
            }

            &+li {
                margin-left: 10px;
            }
        }

        li.slick-active {
            background-color: $blue;
        }
    }

    .benefits__inner-content {
        display: block;
        padding: 60px 0;

        .benefits__item {
            margin-bottom: 30px;
        }

        .benefits__item-icon {
            margin-bottom: 25px;
        }
    }

    .search__inner {
        .footer_form {
            display: none;
        }

        .breadcrumbs__inner {
            padding-top: 0;
        }
    }
}

@media(max-width: 580px) {
    .user__box {
        order: -1;
        width: 100%;
        margin-left: 0;
        height: auto;

        .user__menu {
            width: 100%;
        }

        &:hover {
            .user__menu {
                &::before {
                    display: none;
                }
            }
        }
    }

    .notification__box,
    .basket__box,
    .message__box {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        border: 1px solid $text;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        cursor: pointer;
        outline: none;

        &:hover {

            .basket__menu::before,
            .message__menu::before,
            .notification__menu::before {
                display: none;
            }

            .message__menu,
            .message__item-content {
                justify-content: space-around;
            }

            .basket__item {
                padding: 30px;
            }
        }
    }

    .user__menu {
        top: 65px;
    }

    .basket__box {
        margin-bottom: 20px;
    }

    .message__menu-info {
        position: relative;
    }

    .message__menu-link {
        margin-right: 25px;
    }

    .icon-remove {
        &::before {
            display: block;
            position: absolute;
            color: $text;
            font-family: 'icomoon';
            right: 20px;
            top: 10px;
            font-size: 20px;
        }
    }

    .header__box {
        flex-direction: column;
    }

    .notification__menu-content,
    .basket__menu-content,
    .message__menu-content {
        // top: -1px;
        width: 100%;
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        -o-transform: translateX(-110%);
    }

    .active-menu {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }

    .search__inner-info {
        padding-top: 20px;
    }

    .search__inner-text {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .search__inner-title {
        font-size: 30px;
        margin-top: 50px;
    }

    .search__inner-input {
        input {
            padding: 0 25px;
        }

        select {
            width: 100%;
            display: block;
            margin-top: 50px;
        }
    }

    .search__inner-form {
        form {
            button {
                margin-top: 70px;
            }
        }
    }

    .search__inner-btn {
        display: block;

        .btn {
            display: block;
            width: 100%;

            &+.btn {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    .product__item-btn {
        width: 100%;
        padding: 0 20px;
    }

    .title {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .feedback__link {
        width: 100%;
    }

    .feedback {
        .lnr-bubble {
            &::before {
                font-size: 40px;
            }
        }

        &__item {
            height: auto;
        }
    }
    .error__inner{
        padding: 0 0 50px;
    }
    .error__inner-btn{
        width: 100%;
    }
    .error__inner-img{
        img{
            width: 100%;
        }
    }
    .error__inner-title{
        font-size: 20px;
        line-height: 40px;
    }
}

@media(max-width: 530px) {
    .footer_list {
        min-width: 100%;

        &+& {
            margin-top: 30px;
        }
    }

    .slider__box {
        height: 70px;
        margin-bottom: 30px;
    }

    .slider__box-title {
        font-size: 20px;
    }

    .slider__item-img {
        height: 250px;
    }

    .slider__item-box {
        padding: 30px 40px 20px 40px;
    }

    .slider__item-tags {
        padding-bottom: 25px;
    }

    .page-search {
        .search__inner-text {
            font-size: 20px;
            line-height: 35px;
        }

        .search__inner-info {
            min-height: auto;
            padding: 50px 0 30px;
        }
    }
}

@media(max-width: 490px) {
    .footer__top-content {
        padding: 100px 0 80px;
    }

    .footer__bottom-title {
        line-height: 24px;
    }

    .follow__inner-content {
        padding: 70px 0;
    }

    .get-link {
        width: 100%;
    }

    .get-box {
        padding: 40px 20px;
    }

    .feedback {
        .lnr-bubble {
            &::before {
                display: none;
            }
        }

        .profile__user {
            display: block;

            &-personal {
                margin-top: 20px;
            }
        }
    }

    .ready__inner-link {
        width: 100%;
    }

    .ready__inner-title {
        font-size: 30px;
    }

    .filter__content-btns {
        display: block;

        a {
            width: 100%;

            &+a {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
    .pagination__list{
        display: none;
    }
}

@media(max-width: 430px) {
    .notification__box {
        height: 50px;

        &:hover {
            .notification__item {
                padding: 15px;
                display: block;
            }

            .notification__item-icon {
                display: none;
            }

            .notification__menu-info {
                display: block;
            }

            .message__menu-link {
                margin-right: 0;
                margin-top: 10px;
            }

            .notification__item-name {
                max-width: none;
            }

            .message__item-avatar {
                margin-bottom: 15px;
            }
        }
    }

    .basket__box,
    .message__box {
        height: 50px;
    }

    .message__menu-box {
        .message__item {
            display: block;

            &-avatar {
                margin-bottom: 20px;
            }

            &-name {
                .name {
                    margin-bottom: 10px;
                }

                .date {
                    font-size: 12px;
                }
            }
        }
    }

    .message__menu-content {
        .message__menu-info {
            display: block;
        }

        .message__menu-link {
            margin-top: 10px;
            font-size: 12px;
        }
    }

    .basket__menu-content {
        .basket__item {
            display: block;

            &-info {
                margin: 15px 0;
                max-width: none;
            }

            &-delete {
                width: 100%;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                height: 40px;
            }

            &-icon {
                max-width: none;
            }

            &-price {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .basket__btns {
            flex-wrap: wrap;

            .cart,
            .checkout {
                width: 100%;
                padding: 20px 10px;
            }
        }
    }

    .search {
        margin-bottom: 0px;
    }

    .search__inner-form {
        bottom: -20px;
    }

    .search__inner-title {
        line-height: 45px;

    }

    .search__inner-btn {
        .btn {
            padding: 14px 10px;
        }
    }

    .slider__item-tags {
        display: block;

        button {
            width: 100%;

            &+button {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }

    .slider__item-rat {
        display: block;

        .rate-star {
            margin: 0 auto;
        }
    }

    .slider__item-icon {
        display: block;

        .slider__item-price {
            width: 100%;
            margin-bottom: 10px;
        }

        .slider__item-favour,
        .slider__item-buy {
            color: #fff;
        }

        .lnr-heart {
            margin-bottom: 10px;
            margin-right: 0;
        }

        .lnr-heart,
        .lnr-cart {
            text-align: center;
            background-color: #0674ec;
            padding: 8px 5px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;

            &::before {
                color: #fff;
            }
        }

        .lnr-cart {
            margin-bottom: 10px;
        }
    }

    .product__item-icon {

        .slider__item-favour,
        .slider__item-buy {
            color: $blue;
        }

        .lnr-heart {
            background-color: #e6f1fd;

            &::before {
                color: $blue;
            }
        }
    }

    .product__item-buy {
        background-color: #e6f1fd;
        padding: 8px 5px;
        text-align: center;
        color: $blue;
        border-radius: 30px;

        .lnr-cart {
            &::before {}
        }
    }

    .products__inner-content {
        padding: 60px 0;
    }

    .get-box {
        height: auto;
    }
    .conditioans__inner-title{
        font-size: 20px;
    }
}


@media(max-width: 390px) {
    .footer_form {
        button {
            width: 90px;
        }
    }

    .footer__top-content {
        padding: 50px 0 80px;
    }

    .footer__item-icon {
        width: 35px;
        height: 35px;

        &+.footer__item-icon {
            margin-left: 10px;
        }
    }

    .advantages {
        &__item {
            padding: 30px 20px 30px 20px;
        }
    }

    .slider__box-title {
        font-size: 15px;
    }

    .slider__item-profile {
        display: block;
        margin-bottom: 20px;

        .slider__item-program {
            margin-top: 20px;
        }
    }

    .title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .text {
        font-size: 14px;
    }
}