    @import 'vars';
    @import 'media';
    @import 'libs';
    @import 'fonts';
    @import 'global';

    //start header
    .header {
        &__top {
            background-color: $grey;

            &-inner {
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__menu {
            &-inner {
                display: flex;
                justify-content: space-between;
                height: 80px;
                align-items: center;
            }
        }

        &__search {
            form {
                width: 360px;
                position: relative;

                input {
                    width: 100%;
                    min-height: 45px;
                    border-radius: 30px;
                    padding: 0 70px 0 26px;
                    border: 1px solid $grey;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                    outline: none;

                    &::placeholder {
                        color: #898f96;
                    }
                }

                button {
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    width: 70px;
                    height: 45px;
                    background-color: $blue;
                    border: none;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                    outline: none;
                }
            }
        }
    }

    .lnr-magnifier {
        &::before {
            color: #fff;
        }
    }

    .header__box {
        .header__btn {
            padding: 13px 10px;
            width: 140px;
            text-align: center;
            background-color: $blue;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            color: #fff;
            cursor: pointer;
            margin-right: 50px;
        }
    }

    .menu__list {
        li {
            display: inline-block;

            &+li {
                margin-left: 25px;
            }

            a {
                font-size: 15px;
                color: #333333;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }

    //end header

    //start search
    .search {
        margin-bottom: 170px;

        &__inner {
            background-image: -webkit-linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);

            &-info {
                min-height: 720px;
                padding-top: 100px;
                text-align: center;
                color: #fff;
                position: relative;
            }

            &-title {
                margin-top: 70px;
                font-size: 60px;
                font-weight: 700;
                line-height: 70px;
                margin-bottom: 35px;

                span {
                    display: block;
                    font-weight: 400;
                }
            }

            &-text {
                font-size: 20px;
                line-height: 30px;
                font-weight: 500;
                margin-bottom: 69px;
            }
        }
    }

    .search__inner-btn {
        margin-bottom: 110px;

        .btn {
            width: 190px;
            border: 1px solid #fff;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            padding: 18px 10px;
            font-size: 16px;
            color: #fff;

            &+.btn {
                margin-left: 30px;
            }
        }

        .active_btn {
            background-color: #fff;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
            color: $blue;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
        }
    }

    .search__inner-form {
        z-index: 5;
        position: absolute;
        bottom: - 60px;
        background-color: #fff;
        height: 130px;
        width: 1140px;
        padding: 40px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);

        &::before {
            content: '';
            position: absolute;
            z-index: 2;
            width: 1110px;
            height: 30px;
            left: 15px;
            top: -15px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, .7);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 1080px;
            height: 40px;
            left: 30px;
            top: -30px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, .5);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        form {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                width: 220px;
                background-color: $blue;
                border: none;
                height: 40px;
                padding: 0 10px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }

    .search__inner-input {
        position: relative;

        input {
            width: 807px;
            max-width: 100%;
            height: 40px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            padding: 0 200px 0 25px;
            outline: none;

            &::placeholder {
                font-size: 16px;
                color: #676767;
            }
        }

        select {
            position: absolute;
            height: 40px;
            right: 0;
            border: 1px solid #dcdcdc;
            width: 190px;
            padding: 0 30px 0 20px;
            outline: none;
            border-radius: 0 5px 5px 0;
            -webkit-border-radius: 0 5px 5px 0;
            -moz-border-radius: 0 5px 5px 0;
            -ms-border-radius: 0 5px 5px 0;
            -o-border-radius: 0 5px 5px 0;
        }
    }

    //end search

    //start advantages
    .advantages {
        margin-bottom: 100px;

        &__inner {
            display: flex;
            justify-content: space-around;
        }

        &__item {
            cursor: pointer;
            text-align: center;
            max-width: 365px;
            width: 100%;
            padding: 40px 30px 50px 30px;

            &:hover {
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
            }

            &-img {
                margin-bottom: 20px;
            }

            &-title {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 20px;
                padding: 0 5px;
            }

            &-text {
                @include greyText;
                line-height: 30px;
            }
        }
    }

    .img-advantages {
        margin-bottom: 11px;
    }

    //end advantages

    //start slider
    .slider {
        &__inner {
            padding: 118px 0;
            background-color: $grey;
        }

        &__content {
            position: relative;
        }
    }

    .slick-arrow {
        position: absolute;
        border: none;
        background-color: #7347c1;
        height: 45px;
        width: 55px;
        outline: none;
        cursor: pointer;
    }

    .slick-prev {
        top: -120px;
        right: 85px;
        border-radius: 30px 0 0 30px;
        -webkit-border-radius: 30px 0 0 30px;
        -moz-border-radius: 30px 0 0 30px;
        -ms-border-radius: 30px 0 0 30px;
        -o-border-radius: 30px 0 0 30px;
    }

    .slick-next {
        top: -120px;
        right: 30px;
        border-radius: 0 30px 30px 0;
        -webkit-border-radius: 0 30px 30px 0;
        -moz-border-radius: 0 30px 30px 0;
        -ms-border-radius: 0 30px 30px 0;
        -o-border-radius: 0 30px 30px 0;
    }

    .lnr {
        &::before {
            color: #fff;
        }
    }

    .slider__item-img {
        border-radius: 5px 0 0 5px;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        max-width: 555px;
        -webkit-border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -ms-border-radius: 5px 0 0 5px;
        -o-border-radius: 5px 0 0 5px;
    }

    .slider__item-content {
        display: flex;
        height: 450px;
        background-color: #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .slider__item {
        &-title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 15px;
            line-height: 30px;
        }

        &-profile {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &-user {
            display: flex;
            align-items: center;
        }

        &-text {
            @include greyText;
            line-height: 30px;
            margin-bottom: 35px;
        }
    }

    .user-avatar {
        width: 30px;
        height: 30px;
        background-color: purple;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .user-name {
        margin: 0 13px 0 5px;
        padding: 0 5px;
        max-width: 110px;
        font-weight: 500;
    }

    .slider__item-program {
        display: flex;
    }

    .program-name {
        margin-left: 5px;
        padding: 0 5px;
        color: #7347c1;
    }

    .slider__item-box {
        max-width: 585px;
        padding: 40px 60px 20px 45px;
    }

    .slider__item-tags {
        padding-bottom: 45px;
        border-bottom: 1px solid #ececec;

        button {
            border: none;
            padding: 7px 15px;
            background-color: #f1f3f6;
            text-align: center;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            color: #868c96;
            cursor: pointer;
            outline: none;

            &+button {
                margin-left: 5px;
            }
        }
    }

    .slider__item-rat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .slider__item-icon {
        display: flex;
        align-items: center;
    }

    .slider__item-price {
        padding: 8px 5px;
        width: 98px;
        background-color: $blue;
        text-align: center;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        color: #fff;
        font-weight: 500;
        margin-right: 20px;
    }

    .lnr-heart {
        color: $text;
        margin-right: 20px;

        &::before {
            margin-right: 5px;
            color: #7347c1;
        }
    }

    .lnr-cart {
        color: $blue;

        &::before {
            color: $blue;
            margin-right: 5px;
        }
    }

    //end slider

    //start products
    .products {
        &__inner {
            background-color: #f6f7fb;

            &-content {
                padding: 120px 0;
            }
        }
    }

    .products-box {
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .filter__title {
        position: relative;
        font-size: 16px;
        color: #747b86;
        padding-right: 10px;
        display: flex;
        align-items: center;
        font-weight: 500;

        button {
            background-color: transparent;
            border: none;
            font-size: 25px;
            color: #a3b1c4;
            cursor: pointer;
            outline: none;
        }

        &-list {
            position: absolute;
            top: 40px;
            background-color: #fff;
            width: 183px;
            height: 180px;
            padding: 25px 20px;
            right: 0;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);

            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 16px solid rgba(255, 255, 255, 0);
                border-right: 16px solid rgba(255, 255, 255, 0);
                border-bottom: 30px solid #fff;
                top: -15px;
                right: 6px;
            }
        }
    }

    .filter__list {
        li {
            padding: 0 5px;

            a {
                color: #747b86;
                line-height: 20px;
                font-weight: 500;

                &:hover {
                    color: $blue;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -ms-transition: all .3s;
                    -o-transition: all .3s;
                }
            }

            &+li {
                margin-top: 10px;
            }
        }
    }

    .products__info {
        &-btn {
            width: 100%;
            background-color: #fff;
            height: 93px;
            display: flex;
            align-items: center;
            box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
            padding: 0 30px;
            margin-bottom: 50px;

            button {
                padding: 9px 20px;
                outline: none;
                background-color: #f1f3f6;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                border: none;
                text-align: center;
                color: #747b86;
                font-weight: 500;
                cursor: pointer;

                &+button {
                    margin-left: 10px;
                }

                &.mixitup-control-active {
                    background-color: $blue;
                    color: #fff;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -ms-transition: all .3s;
                    -o-transition: all .3s;
                }
            }
        }

        &-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .product__item {
        background-color: #fff;
        margin-bottom: 30px;
        overflow: hidden;
        max-width: 360px;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

        &-img {
            display: block;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &_content {
                min-height: 230px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    .product__item-btn {
                        opacity: 1;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                    }
                }
            }
        }

        &-box {
            padding: 10px 30px;
            min-height: 237px;
            margin-top: 19px;
            margin-bottom: 15px;
            border-bottom: 1px solid #ececec;
        }

        &-rat {
            padding: 10px 30px;
        }

        &-title {
            font-size: 20px;
            color: #000;
            margin-bottom: 18px;
            max-width: 315px;
            display: block;
            line-height: 30px
        }

        &-text {
            @include greyText;
            margin-bottom: 10px;
        }

        &-rat {
            min-height: 61px;
            margin-top: 0;
            align-items: center;
        }

        &-price {
            width: 60px;
            color: $blue;
            background-color: #e6f1fd;
            cursor: pointer;
            margin-right: 15px;
        }
    }

    .product__item-btn {
        margin-bottom: 0;
        opacity: 0;

        .btn {
            width: 130px;
            padding: 14px 10px;
            text-align: center;

            &+.btn {
                margin-left: 10px;
            }
        }
    }

    .products__bottom-btn {
        text-align: center;

        button {
            cursor: pointer;
            outline: none;
            margin: 30px 5px 0;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
            border: none;
            background-color: $blue;
            color: #fff;
            font-size: 16px;
            padding: 20px 40px;
            font-weight: 500;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }
    }

    //end products

    //start follow
    .follow {
        &__inner {
            background-color: #eff1f5;

            &-content {
                padding: 120px 0 110px;
            }
        }
    }

    .follow__slick-prev,
    .follow__slick-next {
        background-color: $blue;
    }

    .follow__item {
        margin: 0 15px;
        overflow: hidden;
    }

    .follow__info-item {
        margin-left: -15px;
        margin-right: -15px;
    }

    //end follow

    //start benefits
    .benefits {
        &__inner {
            background-color: #212225;

            &-content {
                padding: 90px 0;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .benefits__item {
        text-align: center;
        cursor: pointer;
    }

    .sale {
        color: #feb71d;
    }

    .total {
        color: #58c9e9;
    }

    .customers {
        color: #77de51;
    }

    .members {
        color: #ff6a6d;
    }

    .benefits__item-icon {
        font-size: 48px;
        margin-bottom: 50px;
    }

    .benefits__item-number {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .benefits__item-title {
        color: #fff;
        font-size: 18px;
        line-height: 36px;
    }

    .lnr-briefcase {
        &::before {
            color: #feb71d;
        }
    }

    .lnr-cloud-download {
        &::before {
            color: #58c9e9;
        }
    }

    .lnr-smile {
        &::before {
            color: #77de51;
        }
    }

    .lnr-users {
        &::before {
            color: #ff6a6d;
        }
    }

    //end benefits

    //start features
    .features {
        &__inner {
            padding: 120px 0 100px;

            &-content {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }

    .features__item {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        max-width: 363px;
        background-color: #fff;
        height: 374px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        padding: 20px 20px 50px;
        cursor: pointer;
        margin-bottom: 30px;

        &-number {
            font-size: 48px;
            color: #5c87f8;
            opacity: 0.2;
            font-weight: 300;
        }

        &-info {
            text-align: center;
        }

        &-img {
            font-size: 60px;
            margin-bottom: 30px;
        }

        &-title {
            font-size: 24px;
            color: #000;
            font-weight: 500;
            margin-bottom: 10px;
            padding: 0 10px;
            line-height: 30px;
        }

        &-text {
            @include greyText;
            line-height: 30px;
        }
    }

    .lnr-license {
        &::before {
            color: $blue;
        }
    }

    .lnr-magic-wand {
        &::before {
            color: #7f4ec2;
        }
    }

    .lnr-lock {
        &::before {
            color: #77de51;
        }
    }

    .lnr-chart-bars {
        &::before {
            color: #feb71d;
        }
    }

    .lnr-leaf {
        &::before {
            color: #58c9e9;
        }
    }

    .lnr-phone {
        &::before {
            color: #ff6a6d;
        }
    }

    //aend features

    //start get
    .get {
        &__inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__sell {
            background-image: url(../img/get/sell.jpg);
        }

        &__start {
            background-image: url(../img/get/start.jpg);
        }
    }

    .get-box {
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 560px;
        padding: 90px 0;
    }

    .get-content {
        max-width: 580px;
        text-align: center;
        margin: 0 auto;
        color: #fff;

        .get__img {
            margin-bottom: 45px;
        }

        .get__title {
            font-size: 36px;
            line-height: 58px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        .get__text {
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 38px;
        }
    }

    .get-link {
        color: $blue;
    }

    //end get

    //start feedback
    .feedback {
        &__inner {
            padding: 110px 0 115px;

            &-box {
                text-align: center;
            }

            &-title {
                font-size: 36px;
                font-weight: 500;
                color: #000;
                margin-bottom: 35px;

                span {
                    color: $blue;
                }
            }

            &-info {
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;
            }
        }

        &__item {
            max-width: 558px;
            width: 100%;
            background-color: #fff;
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            padding: 50px 40px;
            height: 316px;
            border-left: 2px solid $blue;
            border-radius: 0px 5px 5px 0px;
            -webkit-border-radius: 0px 5px 5px 0px;
            -moz-border-radius: 0px 5px 5px 0px;
            -ms-border-radius: 0px 5px 5px 0px;
            -o-border-radius: 0px 5px 5px 0px;

            &-profile {
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;
                align-items: center;
            }

            &-text {
                @include greyText;
                line-height: 30px;
            }
        }
    }

    .lnr-bubble {
        &::before {
            color: #ebebeb;
            font-size: 60px;
        }
    }

    .profile__user {
        display: flex;
        align-items: center;

        &-avatar {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #808080;
            width: 77px;
            height: 77px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-right: 15px;
        }

        &-name {
            font-size: 20px;
            color: #000;
            margin-bottom: 10px;
        }

        &-prof {
            @include greyText;
        }
    }

    .feedback__link {
        margin: 0 auto;
        background-color: $blue;
        color: #fff;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    }

    //end feedback

    // start news
    .news {
        &__inner {
            background-color: $grey;
            padding: 105px 0 115px;

            &-box {
                text-align: center;
                max-width: 680px;
                margin: 0 auto;
            }

            &-title {
                font-size: 36px;
                line-height: 58px;
                font-weight: 500;
            }

            &-text {
                margin-bottom: 60px;
            }

            &-info {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .news__item {
        .product__item {
            margin-bottom: 0;
        }

        .product__item-box {
            margin-top: 0;
            margin-bottom: 0;
            padding: 30px 20px 20px;
        }

        .slider__item-text {
            margin-bottom: 0;
        }

        .product__item-box {
            min-height: 187px;
        }

        &-icon {
            min-height: 60px;
            display: flex;
            padding: 10px 30px;
        }

        &-block {
            width: 50%;
            display: flex;
            align-items: center;
        }

        &-loock {
            padding-left: 35px;
            border-left: 1px solid #ececec;
        }
    }

    .news__item-img {
        margin-right: 5px;
        color: $blue;
    }

    .news__item-time {
        color: #999999;
        line-height: 30px;
    }

    .news__item-feed {
        position: relative;
        margin-right: 10px;
        color: #999999;
        line-height: 30px;
        display: flex;
        align-items: center;

        .lnr-bubble {
            display: block;

            &::before {
                font-size: 15px;
                margin-left: 5px;
                color: #7e7e7e;
            }
        }
    }

    .lnr-clock {
        &::before {
            color: $blue;
        }
    }

    .news__item-view {
        position: relative;
        // margin-right: 30px;
        padding-left: 15px;
        color: #999999;
        line-height: 30px;
        display: flex;
        align-items: center;

        .lnr-eye {
            &::before {
                display: block;
                color: #7e7e7e;
                font-size: 15px;
                margin-right: 5px;
            }
        }
    }

    //end news

    //start guarantee
    .guarantee {
        &__inner {
            background-color: #fff;

            &-content {
                height: 300px;
                display: flex;
                justify-content: space-between;
            }
        }

        &__item {
            text-align: center;
            display: flex;
            width: 50%;
            justify-content: center;

            &-info {
                padding: 60px 0;
            }

            &-img {
                margin-bottom: 28px;
            }

            &-title {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

    .guarantee__item-money {
        border-right: 1px solid #e8eaf3;
    }

    .guarantee-money {
        span {
            color: $blue;
        }
    }

    .guarantee-support {
        span {
            color: #7347c1;
        }
    }

    //end guarantee

    //start ready
    .ready {
        &__inner {
            background-image: -webkit-linear-gradient(0deg, rgb(102, 31, 145) 0%, rgb(54, 43, 184) 60%, rgb(13, 55, 217) 100%);
            padding: 100px 0;

            &-content {
                text-align: center;
            }

            &-title {
                font-size: 36px;
                margin-bottom: 30px;
                color: #e7e7e7;
            }

            &-subtitle {
                font-size: 18px;
                color: #e7e7e7;
                line-height: 30px;
                margin-bottom: 50px;
            }

            &-link {
                color: $blue;
            }
        }
    }

    //end ready

    //start footer
    .footer {
        &__inner-top {
            background-color: #262b30;
        }

        &__inner-bottom {
            background-color: #192027;
            height: 95px;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .footer__top-content {
        padding: 100px 0 115px;
        display: flex;
        justify-content: space-between;
    }

    .footer_info {
        max-width: 268px;
        width: 100%;
    }

    .footer_list {
        max-width: 140px;
        width: 100%;
    }

    .footer_search {
        max-width: 370px;
        width: 100%;
    }

    .footer__item {
        color: #ababab;

        &_logo {
            margin-bottom: 30px;
        }

        &-text {
            line-height: 28px;
            margin-bottom: 30px;
        }

        a {
            color: #ababab;
        }

        &-phone,
        &-mail {
            margin-bottom: 20px;
            padding-left: 30px;
            position: relative;

            span {
                position: absolute;
                left: 0;

                &::before {
                    font-size: 16px;
                }
            }
        }

        &-adress {
            padding-left: 30px;
            line-height: 26px;
            position: relative;

            span {
                position: absolute;
                left: 0;
                top: 5px;

                &::before {
                    font-size: 16px;
                }
            }
        }

        &-title {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            line-height: 36px;
            margin-bottom: 30px;
            margin-top: 10px;
        }

        &-list {
            li {
                line-height: 28px;
            }

            li+li {
                margin-top: 5px;
            }
        }

        &-subtitle {
            line-height: 28px;
            margin-bottom: 30px;
        }
    }

    .footer_form {
        max-width: 360px;
        position: relative;

        input {
            width: 100%;
            height: 50px;
            padding: 0 115px 0 25px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            outline: none;
            border: none;

            &::placeholder {
                color: #ababab;
            }
        }

        button {
            position: absolute;
            width: 110px;
            background-color: $blue;
            height: 100%;
            color: #fff;
            padding: 0 5px;
            right: -1px;
            border: none;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            cursor: pointer;
            outline: none;
        }
    }

    .footer__bottom-title {
        color: #fff;

        span {
            font-weight: 500;
        }
    }

    .footer__item-social {
        margin-top: 48px;
        display: flex;
    }

    .footer__item-icon {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: #fff;

        &+.footer__item-icon {
            margin-left: 14px;
        }
    }

    .icon-facebook {
        background-color: #395799;
    }

    .icon-twitter {
        background-color: #19b2f5;
    }

    .icon-pinterest-p {
        background-color: #9c0c1c;
    }

    .icon-google {
        background-color: #f05b44;
    }

    .icon-dribbble {
        background-color: #ea4c89;
    }

    .icon-linkedin2 {
        background-color: #0da6be;
    }

    //end footer

    //start page-search
    .page-search {
        margin-bottom: 0;

        .search__inner {
            background-image: -webkit-linear-gradient(0deg, #661f91 0%, #362bb8 60%, #0d37d9 100%);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .search__inner-info {
            min-height: 280px;
            padding: 80px 0 20px;
        }

        .search__inner-text {
            font-size: 26px;
            color: #f3f3f8;
            line-height: 54px;
            margin-bottom: 30px;
        }

        .footer_form {
            margin: 0 auto;
            max-width: 560px;
            width: 100%;
        }
    }

    //end page-search

    //start single-product
    .page-single {
        margin-bottom: 0;

        .search__inner-info {
            min-height: 180px;
            padding-top: 0;
        }

        .page-single__box {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            text-align: left;
        }

        .breadcrumbs {
            margin-bottom: 20px;
        }

        .search__inner-text {
            font-size: 30px;
            line-height: 48px;
            margin-bottom: 0;
        }

        .search__inner {
            background-image: -webkit-linear-gradient(0deg, #661f91 0%, #362bb8 60%, #0d37d9 100%);

        }
    }

    //end single-product

    //start product-page

    .product-page {
        &__filter {
            background-color: #fff;
            box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        }

        &__inner {
            display: flex;
            padding: 80px 0 120px;
        }

        &__aside {
            margin-right: 30px;
            width: 265px;
        }
    }

    .filter__content {
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-box {
            display: flex;
            align-items: center;

            select {
                border: 1px solid #eceff2;
                padding: 16px 18px;
                margin-right: 30px;
                outline: none;
                font-size: 14px;
                color: #747b86;
            }
        }

        &-btns {
            a {
                @include greyText;
                font-weight: 500;

                &+a {
                    margin-left: 45px;
                }
            }

            .active {
                color: $blue;
            }
        }

        &-swithes {
            width: 95px;
            border: 1px solid #eceff2;
            padding: 16px 0;
            text-align: center;

            button {
                border: none;
                background-color: transparent;
                font-family: 'icomoon';
                color: #333;
                cursor: pointer;
                color: #acb0b6;
                outline: none;

                &::before {
                    font-size: 16px;
                    content: '\e900';
                }

                &.active {
                    color: $blue;
                }
            }

            .list {
                &::before {
                    font-size: 18px;
                    content: '\e902';
                }
            }
        }
    }

    .aside-item {
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 0px 30px 32px;
        margin-bottom: 30px;
    }

    .aside__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        border-bottom: 1px solid #e7ebee;
        padding: 30px 0 25px;
        margin-bottom: 30px;
    }

    .category {
        &__list {
            li {
                display: flex;
                justify-content: space-between;
                padding-left: 20px;
                position: relative;

                &+li {
                    margin-top: 20px;
                }

                a {
                    display: flex;
                    font-family: 'Quicksand', sans-serif !important;
                    color: $text;
                    align-items: center;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -ms-transition: all .3s;
                    -o-transition: all .3s;

                    &:hover {
                        color: $blue;
                        transition: all .3s;
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -ms-transition: all .3s;
                        -o-transition: all .3s;
                    }
                }

                .icon-chevron-right {
                    &::before {
                        position: absolute;
                        font-family: 'icomoon';
                        left: 0;
                        color: #878d96;
                        font-size: 10px;
                    }
                }

                span {
                    color: #747b86;
                }
            }
        }
    }

    .custom_checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &+label {
            position: relative;
            cursor: pointer;

            &::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #7a818b;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin-right: 10px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                border: 2px solid transparent;
                left: 0px;
                top: 3px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                transition: all .5s;
            }
        }
    }

    .custom_checkbox:checked+label::after {
        border: 2px solid $blue;
    }

    .irs--flat .irs-min,
    .irs--flat .irs-max {
        display: none;
    }

    .irs--flat .irs-line {
        height: 6px;
        background-color: #efedf3;
    }

    .irs--flat .irs-bar {
        height: 6px;
        background-color: #7347c1;
    }

    .irs--flat .irs-handle {
        height: 18px;
        width: 18px;
        border: 4px solid $blue;
        background-color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: absolute;
        top: 19px;
    }

    .irs--flat .irs-handle>i:first-child {
        display: none;
    }

    .irs {
        margin-bottom: 50px;
    }

    .irs--flat .irs-from,
    .irs--flat .irs-to,
    .irs--flat .irs-single {
        color: #7347c1;
        background-color: #f1ecf9;
        width: 40px;
        padding: 6px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .irs--flat .irs-from:before,
    .irs--flat .irs-to:before,
    .irs--flat .irs-single:before {
        display: none;
    }

    .filter__products-list {
        li {
            &+li {
                margin-top: 20px;
            }
        }
    }

    .pricing-range {
        .aside__title {
            margin-bottom: 0;
        }

        form {
            text-align: center;

            button {
                width: 170px;
                background-color: $blue;
                color: #fff;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                border: none;
                outline: none;
                padding: 15px 10px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }


    .product-page__items {
        &-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .product__item {
            margin-bottom: 0;
            max-width: 260px;
            overflow: auto;
            margin-bottom: 30px;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;

            &.list {
                max-width: 100%;
                display: flex;
                min-height: 210px;

                .product__item-img {
                    max-width: 230px;
                    width: 100%;
                }

                .product__item-img_content {
                    min-height: 100%;
                }

                .product__item-content {
                    display: flex;
                    width: 100%;
                    padding: 25px 20px 30px 15px;
                }

                .slider__item-text,
                .product__items-comments,
                .slider__item-buy {
                    display: block;
                }

                .product__item-box {
                    display: flex;
                    padding: 0;
                    border: none;
                }

                .product__items-info {
                    max-width: 260px;
                    padding-right: 15px;
                    border-right: 1px solid #ececec;
                }

                .product__item-title {
                    margin-bottom: 25px;
                }
                .product__item-text{
                    margin-bottom: 0px;
                }
                .product__items-profile{
                    max-width: 210px;
                    width: 100%;
                    padding: 0 20px;
                    border-right: 1px solid #ececec;
                }
                .box-rate{
                    span{
                        display: block;
                    }
                }
                .lnr-bubble,
                .lnr-heart{
                    &::before{
                        color: #7f4ec2;
                    }
                }
                .product__items-rate{
                    .slider__item-buy{
                        display: none;
                    }
                }
                .product__item-price{
                    width: 100px;
                    margin-right: 0;
                }
                .product__item-rat{
                    padding: 0;
                    width: 150px;
                    max-width: 100%;
                    .lnr-cart{
                        margin-top: 25px;
                        text-align: center;
                    }
                }
                .slider__item-program{
                    bottom: 25px;
                    left: 15px;
                }
            }
        }

        .product__item-box {
            margin-top: 0;
            margin-bottom: 0;
            padding: 17px;
            min-height: 150px;
            width: 100%;
        }

        .product__item-img_content {
            min-height: 160px;
        }

        .product__item-title {
            line-height: 24px;
            font-size: 18px;
        }

        .slider__item-box {
            max-width: 100%;
        }

        .slider__item-user {
            color: #0000;

            .user-name {
                color: #000;
            }
        }

        .slider__item-profile {
            margin-bottom: 18px;
        }

        .product__items-rate {
            display: flex;
            justify-content: space-between;
        }

        .product__item-rat {
            padding: 10px 19px;

            .slider__item-buy {
                display: none;
            }
        }

        .slider__item-program {
            right: 10px;
            position: absolute;
            bottom: 20px;
        }

        .slider__item-text {
            display: none;
        }

        .box-rate {
            display: flex;

            span {
                color: #6f7d8d;
                margin-left: 10px;
                display: none;
            }
        }

        .product__items-comments {
            display: none;
            font-size: 16px;

            .lnr-bubble {
                &::before {
                    margin-right: 5px;
                }
            }

            .lnr-bubble,
            .lnr-heart {
                margin-bottom: 15px;

                &::before {
                    font-size: 15px;
                    color: #7f4ec2;
                }

                span {
                    color: #6f7d8d;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                }
            }
        }

        .product__item-content {
            position: relative;
        }
    }

    .pagination {
        position: relative;

        &__list {
            display: flex;
            position: absolute;
            right: 0;

            li {
                &+li {
                    margin-left: 20px;
                }

                background-color: #fff;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 5px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;

                a {
                    color: #747b86;
                }
            }

            .first-active {
                background-color: $blue;

                a {
                    color: #fff;
                }
            }

            .lnr-arrow-left,
            .lnr-arrow-right {
                &::before {
                    color: #333;
                }
            }

            .active-arrow {
                background-color: #7347c1;

                .lnr-arrow-right {
                    &::before {
                        color: #fff;
                    }
                }
            }
        }
    }



    //end product-page